/* In App.css */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', serif;
  }
  
#container {
    position: relative;
}

#skill-table {
    position: absolute;
    bottom: -400px;
    right: 0px;
}

#project-section {
  margin-top: 470px;
}

#all-projects {
  margin-top: 470px;
}

/* Center the button below the project section */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.toggle-button {
  background-color: #ffffff; /* Adjust to a vibrant theme color */
  color: #333;
  border: 1px solid #333;;
  border-radius: 50px; /* Capsule design */
  padding: 5px 10px;
  font-size: small;
  cursor: pointer;
  font-weight: bold;
}

.toggle-button:hover {
  background-color: #333;
  color: white;
  transition: background-color 0.3s ease;
}

/* Fade Transitions */
.fade-enter {
  opacity: 0;
  transform: translateY(10px); /* Start slightly below */
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0); /* Final position */
  transition: opacity 500ms ease-in, transform 500ms ease-in;
}
.fade-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(-10px); /* Move slightly up */
  transition: opacity 500ms ease-out, transform 500ms ease-out;
}

.butt {
  list-style: none;
  text-decoration: none;
}



@media (max-width: 768px) {
    #skill-table {
      bottom: -1400px;
    }

    #project-section{
      margin-top: 90em;
    }

    #all-projects {
      margin-top: 90em;
    }
  }